.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5%;
   background-color: white;
   color: rgba(30, 30, 30, 0.5);
   text-align: center;
   padding: 0.5rem;
   font-size: 0.8rem;
   font-weight: 500;
   align-items: center;
}
.footer_main {
   //  position: fixed;
   color: rgba(30, 30, 30, 0.5);
   font-size: 0.6rem;
   font-weight: 500;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding: 10px;
    @include breakpoint-down(small){
   
    }
            @include breakpoint-up(medium) {
               // width:84rem;
               // width:100%;

            }
                         @include breakpoint-up(xlarge) {
                           //  width: 100%;
                         }


}
.footer_main_1 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   // height: 50px;
   color: rgba(30, 30, 30, 0.5);
   font-size: 0.6rem;
   font-weight: 500;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding: 10px;
   @include breakpoint-down(small) {
         display: none;
      }
      @include breakpoint-down(medium) {
         width: 100%
      }
}

footer,
.card {
   height: 10vh;
   position: relative;
   // background-color: white;
   color: rgba(30, 30, 30, 0.5);
   text-align: center;
   padding: 0.5rem;
   font-size: 0.8rem;
   font-weight: 500;
   align-items: center;
   margin-top: -1rem;
}
.footer_icon{
   @include breakpoint-down(small) {
      display: flex;
   }
}