.goog-te-gadget-icon {
  // display:none;
}

.goog-te-combo-arrow {
  display: none !important;
   
}
.goog-logo-link {
  display: none !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.goog-te-gadget {
  display: inline-flex;
  color: transparent !important;

}
.goog-logo-link {
  display:none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  color: black !important;
}

.goog-te-gadget .goog-te-combo {
  // background-color: rgb(245, 237, 237);
  // border-width: 0.1rem;
}


.google{
  @include breakpoint-down(small) {
    position: absolute;
    top: 5rem;
   right: 0;
}
}

.google-hero{
  @include breakpoint-down(small) {
    position: absolute;
    top: 0rem;
   right: 0;
}
}

.not-login {
  @include breakpoint-down(small) {
      display: none;
  }
  @include breakpoint-down(medium) {
    // display: none;
}
}

// DShare Button

.makeStyles-copyContainer-5 {
  width: 42vw;
}

.makeStyles-copyIcon-7 {
  right: 1rem;
}
.makeStyles-container-1 {
  max-width: 630px;
}

.lin {
  a,.ab:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(98, 205, 55);
    background-color: transparent;
    text-decoration: underline;
  }
}

// QR
.main_frm {
  margin: auto;
  
  @include breakpoint-down(small) {
    display: block;
  }
  .frm {
    @include breakpoint-down(small) {
      display: block;
    }
    @include breakpoint-down(medium) {
      display: block;
    }
  }
  .qrcode {
    display: flex;
    align-items: center;
    @include breakpoint-down(large) {
      display: flex;
      align-items: center;
    }
    @include breakpoint-down(small) {
      display: block;
    }
    @include breakpoint-down(medium) {
      display: block;
    }
  }
  .qrpay {
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-right: 1rem;

    @include breakpoint-down(medium) {
      margin-top: -3rem;
      // display: block;
    }
    @include breakpoint-down(small) {
      // display: block;
    }
    @include breakpoint-down(large) {
      justify-content: center;
      align-items: center;
      // margin-top: 6rem;
      // margin-right: 1rem;
  
    }
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.skiptranslate goog-te-gadget{
  display: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-right: 8rem;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #f6ad55;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox.checked {
  background-color: #f6ad55;
  border-color: #f6ad55;
}

.checkbox.checked svg {
  display: block;
}

.checkbox svg {
  display: none;
  width: 12px;
  height: 12px;
  fill: #ffffff;
}


// registeration
.gri-wid{
  width: 50%;
  @include breakpoint-down(small) {
    width: 90%;
  }
  .grid-choice-one{
    @include breakpoint-down(small) {
      display: grid;

    }
  }
}

.gri-wid4{
  @include breakpoint-down(small) {
    display: block;
  }
 
}

.p-text{
  @include breakpoint-down(small) {
    margin-left:2rem
  }
}

.reg3-foot{
  @include breakpoint-down(small) {
    display: flex;
    margin-left: 2rem;
  }
}

.fam-info{
  display: flex;
  @include breakpoint-down(small) {
    display: flex;
    margin-bottom: 1rem;
  }
  .fam-info1{
    @include breakpoint-down(small) {
      left:0;
      position: absolute;
    }
  }
  .fam-info2{
    @include breakpoint-down(small) {
      // display: flex;
     
      position: absolute;
    }
  }
}

.horo-img1{
  @include breakpoint-down(small) {
    display: block;
  }
  .horo-img2{
    display: flex;
  justify-content: space-around;
    @include breakpoint-down(small) {
 display: flex;
 justify-content: space-between;
 max-width: 90%;
    
    } 
  }
    .horo-img3{
      display: flex;
      justify-content: center;
      grid-gap:4rem;
      @include breakpoint-down(small) {
        display: block;
    }
  }
}

.step-4{
  @include breakpoint-down(small) {
    justify-content: center;
}
}

.grid-widi4{
  @include breakpoint-down(small) {
    display: grid;
    justify-content: flex-start;
}
}

