.goog-te-gadget-icon {
    // display:none;
  }
  
  .goog-te-combo-arrow {
    display: none !important;
  }
  .goog-logo-link{
    display: none !important;

  }

  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
  }

  .goog-te-gadget{
    display: inline-flex;
  }

  .goog-te-gadget .goog-te-combo {
    // background-color: rgb(245, 237, 237);
    border-width: 0.1rem;

}

#google_translate_element {
  @include breakpoint-down(small) {
    justify-content:center;
    // margin-right: 4rem;
    margin-top:-5rem;
   }
}

.not-login{
  @include breakpoint-down(small) {
   
    margin-top:6rem;
    margin-right: 4rem;
   }
}