table {
  width: 97.4%;
}

.mob-view {
  @include breakpoint-down(small) {
    margin-left: 2.8rem;
  }
  @include breakpoint-down(medium) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
