table {
  width: 97.4%;
}

.mob-view {
  @include breakpoint-down(small) {
    position: absolute;
   top:-34rem;
   left: 13rem;
  }
  @include breakpoint-down(medium) {
    
  }
}

.mobile-btn{
  display: flex;
  @include breakpoint-down(small) {
    position: absolute;
    bottom: 12%;
    right: 25%;
  }
}
