@tailwind base;
@tailwind components;
@tailwind utilities;

.indexbg{
    background: url(../assets/indexBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 829.2px;
}

.aboutusbg{
    background: url(../assets/aboutUsBG.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 622px;
}

