@tailwind base;
@tailwind components;
@tailwind utilities;

.indexbg{
    background: url(../assets/indexAssets/indexBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 829.2px;
}

.aboutusbg{
    background: url(../assets/indexAssets/aboutUsBG.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 622px;
 }
 .aboutusresbg{
    background: url('../assets/indexAssets/About_us_responsive.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    background-size: 90% 100%;
    margin: 10px;
        
}

.signinbg{
    background: url(../assets/signUpAssets/a1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

